@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-color: #F3F5FC;
    --secondary-color: #0A3871;
    --terciary-color: #D8DFE8;
    --primary-font-color: #0A3871;
    --secondary-font-color: #495057;
    --footer-link-font-color: #166fdc;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

button:hover{
    cursor: pointer;
}

body {
    background-color: var(--primary-color);
}

.header {
    display: flex;
    align-items: end;
    justify-content: right;
    width: 8vw;
    height: 9vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 86vh;
}

.encoder__section {
    display: flex;
    height: 95%;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.encoder__input {
    width: 95%;
    height: 70%;
    border: none;
    color: var(--primary-font-color);
    padding: 2%;
    font-size: 32px;
    resize: none;
    outline: none;
    overflow-y: hidden;
    background-color: transparent;
}

.encoder__button__area{
    display: flex;
    width: 95%;
    height: 15%;
    flex-direction: column;
    justify-content: space-evenly;

}

.enconder__warning{
    width: 93%;
    color: var(--secondary-font-color);
}

.encoder__buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    
}

.encode__button{
    width: 48%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    border: none
}

.decode__button{
    width: 48%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--terciary-color);
    color: var(--primary-font-color);
    font-size: 16px;
    border: 1px solid var(--secondary-color);
}

.decoder__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 90vh;
    gap: 2%;

}

.decoder__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    height: 98%;
    border-radius: 32px;
    text-align: center;
    font-family: var(--primary-font);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.decoder__warning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decoder__title{
    width: 80%;
    color: #343A40;
    font-size: 24px;
}

.decoder__paragraph{
    width: 90%;
    color: #495057;
    font-size: 16px;
}

.processed__message{
    display: none;
    width: 90%;
    height: 80%;
    font-size: 24px;
    color: var(--secondary-font-color);
    word-break: break-word;
}

.copy__button{
    display: none;
    width: 85%;
    height: 8%;
    border-radius: 24px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    font-size: 16px;
    color: var(--primary-font-color);
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__paragraph {
    font-size: 18px;
    color: var(--primary-font-color);
}

.footer__link{
    color: var(--footer-link-font-color);
    text-decoration: underline;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .encoder__input{
        background-color: green;
    }

    .encoder__section {
        width: 90vw;
        height: 50%;
        background-color: red;
    }

    .decoder__section{
        width: 90%;
        height: 20%;
    }

    .warning__image {
        display: none;
    }
}