@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-color: #F3F5FC;
    --secondary-color: #0A3871;
    --terciary-color: #D8DFE8;
    --primary-font-color: #0A3871;
    --secondary-font-color: #495057;
    --footer-link-font-color: #166fdc;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

button:hover{
    cursor: pointer;
}

body {
    background-color: var(--primary-color);
}

.header {
    display: flex;
    align-items: end;
    height: 11vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 82vh;
}

.encoder__section {
    display: flex;
    height: 95%;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.encoder__input {
    width: 95%;
    height: 70%;
    border: none;
    color: var(--primary-font-color);
    padding: 2%;
    font-size: 2rem;
    resize: none;
    outline: none;
    overflow-y: hidden;
    background-color: transparent;
}

.encoder__button__area{
    display: flex;
    width: 95%;
    height: 15%;
    flex-direction: column;
    justify-content: space-evenly;

}

.enconder__warning{
    display: flex;
    width: 100%;
    color: var(--secondary-font-color);
    padding: 0.25rem;
}

.enconder__warning__text{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
}

.encoder__buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    
}

.encode__button{
    width: 48%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1rem;
    border: none
}

.decode__button{
    width: 48%;
    height: 100%;
    border-radius: 24px;
    background-color: transparent;
    color: var(--primary-font-color);
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
}

.decode__button:hover{
    background-color: var(--terciary-color);
}

.decoder__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 90vh;
    gap: 2%;

}

.decoder__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    height: 98%;
    border-radius: 32px;
    text-align: center;
    font-family: var(--primary-font);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.decoder__warning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning__image {
    width: 90%;
}

.decoder__title{
    width: 80%;
    color: #343A40;
    font-size: 1.5rem;
}

.decoder__paragraph{
    width: 90%;
    color: #495057;
    font-size: 1rem;
}

.processed__message{
    display: none;
    width: 90%;
    height: 80%;
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    word-break: break-word;
    text-align: left; 
}

.copy__button{
    display: none;
    width: 85%;
    height: 8%;
    border-radius: 24px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    font-size: 1rem;
    color: var(--primary-font-color);
}

.footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__paragraph {
    font-size: 1.125rem;
    color: var(--primary-font-color);
}

.footer__link{
    color: var(--footer-link-font-color);
    text-decoration: underline;

}

@media (max-width: 768px) {

    .container {
        height: 86vh;
        flex-direction: column;
    }

    .encoder__section{
        width: 90%;
        height: 55%;
        justify-content: space-between;
    }

    .encoder__input{
        width: 100%;
        height: 65%;
    }

    .encoder__button__area{
        width: 100%;
    }

    .encoder__buttons {
        width: 100%;
    }

    .decoder__section{
        display: flex;
        justify-content: center;
        width: 90%;
        height: 30%;
    }

    .decoder__box{
        height: 90%;
    }

    .warning__image {
        display: none;
    }

    .processed__message{
        height: 70%;
        padding: 1%;   
    }

    .copy__button{
        width: 90%;
        height: 18%;
    }
}

@media (max-width: 375px){

    .header{
        justify-content: right;
        width: 27vw;
        height: 7vh;
    }

    .container{
        height: 87vh;
    }

    .encoder__section{
        height: 60%;
    }

    .encoder__button__area{
        height: 30%;
    }

    .encoder__buttons{
        height: 100%;
        flex-direction: column;
    }

    .encode__button{
        width: 100%;
        height: 40%;    
    }

    .decode__button{
        width: 100%;
        height: 40%;
    }

    .decoder__section{
        height: 35%;
    }

    .footer{
        height: 6vh;
    }

    .footer__paragraph{
        font-size: 1rem;
    }
}